:root {
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --basic-blue: #23A9E1;
    --basic-grey: #333333;
    --basic-brown: #766357;
    --basic-blue1: #81B3D2;  
    --basic-white1: #F2F2F2;
    --basic-grey2: #A9A9A9;
    --basic-blue2: #81B3D2;
    --basic-white2: #EEEEEE;
    --basic-grey3: #CACACA;
    --basic-grey4: #666666;
    --basic-white3: #E5E5E5;
    --basic-black2: #000101;
  }

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white2);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.main-header {
  background-color: var(--basic-white);
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color:var(--basic-black);
  background-color: transparent;
}
.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white)
}
.site-navigation a{
  color: var(--basic-black);
}
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-white);
}
.features-list {
  display: grid;
  list-style: none;
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
}
.features-list h3{
  font-size: 21px;
  line-height: 21px;
}
.stuff {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 0px;
}
.about-city {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.about-city2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.features-item {
  text-align: center;
  list-style: none;
}
.features-item h4 {
  font-size: 21px;
  line-height: 21px;
}
.features-item p {
  font-size: 14px;
  line-height: 21px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--basic-white);
  box-shadow: var(--basic-black2);
}
.container h2{
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
.welcome {
  display: block;
  justify-content: center;
  background-color: var(--basic-white);
}
.interested {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
}

.date {
  font-size: 14px;
  line-height: 24px;
}

.button-find {
  font: inherit;
  text-align: center;
  color:var(--basic-white);
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: none;
  width: 568px;
  height: 86px;
}
.button-find:hover,
.button-find:focus,
.button-find:active {
  background-color: var(--basic-brown);
}
.button-find:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-brown);
}
.contact {
  color: inherit;
}
.input-date,
.input-number {
 font: inherit;
 background-color:var(--basic-white2); 
 border:none
}
.footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.social {
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.find-button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--basic-blue2);
  border: none;
  width: 458px;
  height: 58px;
}
.block-text {
  background-color: var(--basic-blue2) ;
  color: var(--basic-white);
}
.block-text h3 {
  color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
}

.block-text p {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;

}
.block-text2 {
  background-color: var(--basic-blue2) ;
  color: var(--basic-white);
}
.block-text2 h3 {
  color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
}

.block-text2 p {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;

}

.advantages {
  font-size: 14px;
  line-height: 26px;
}
.logo {
  background-image: url("../img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 76px;
  padding-left: 371px;
  padding-right: 371px;
  padding-top: 77px;
  padding-bottom: 81px;
}
.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: url("../img/inner-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  list-style: none;
}

.catalog p {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 21px;
}

.catalog label {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
}
.catalog li {
  list-style: none;
}

.filter-interval {
  color: var(--basic-white);
  text-align: center;
}

.submit-other {
  text-align: center;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
}

.sort-found {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort-categories {
  font-size: 12px;
  line-height: 18px;
}

.sort-current {
  color: var(--basic-blue1);
  font-size: 12px;
  line-height: 18px;
}
.find-by li{
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}
.sort-other{
  list-style: none;
  color: var(--basic-grey3);
}

.sort-direction {
  list-style: none;
}
.hotel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid var(--basic-white3);
}
.variants h3 {
  font-size: 21px;
  line-height: 26px;
}

.variants p {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-grey);
}
.variants li {
  list-style: none;
}

.more-info {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--basic-blue2);
  border: none;
  font-size: 14px;
  line-height: 21px;
  width: 110px;
  height: 27px;
}
.to-book {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: none;
  font-size: 14px;
  line-height: 21px;
  width: 142px;
  height: 27px;
}

.about-raiting {
  justify-self: right;
}
.raiting {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-grey4);
  font: inherit;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--basic-white1);
  border: none;
  width: 110px;
  height: 27px;
}

.page {
  height: 100%;
}

.form-to-book {
  background-color: var(--basic-white);
  justify-content: center;
}
.main-form {
  display: grid;
  justify-content: center;
}

.site-by-html {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}